/lib_src
# Intellij IDEA build directory
/out/

# Automatically downloaded dependencies
/lib/dependencies

# Host specific config files
*.iws
*.ipr

# Annoying auto-created META-INF dir
/META-INF/

# Local stuff
local/
/src/misc

idea-multimarkdown.zip
src/main/java/com/vladsch/idea/multimarkdown/annotator/ChangeToQuickFix.java
src/main/java/com/vladsch/idea/multimarkdown/annotator/RenameToQuickFix.java
src/main/java/com/vladsch/idea/multimarkdown/annotator/ShowSuggestions.java
commons-io-2.4-bin.zip
src/test/resources/GitHubIssues/Issue-46
