# Intellij IDEA build directory
/out/
*.zip

# Automatically downloaded dependencies
/lib/dependencies

# Host specific config files
*.iws
*.ipr

# Annoying auto-created META-INF dir
/META-INF/

# Local stuff
local/

src/main/resources/com/vladsch/idea/multimarkdown/preview_orig.css
preview_orig.css
