# Intellij IDEA build directory
/out/

# Automatically downloaded dependencies
/lib/dependencies

# Host specific config files
*.iws
*.ipr

# Annoying auto-created META-INF dir
/META-INF/

# Local stuff
local/
/src/misc

idea-multimarkdown.zip
