blockquote                   { margin:0;padding:0 0 0 10;border-left:2pt solid #bbb;color:#666; }
blockquote h1                { margin:1.3em 0 1em;padding:0;font-weight:bold;font-size:1.6em;border-bottom:1pt solid #ddd;color:#666; }
blockquote h2                { margin:1.3em 0 1em;padding:0;font-weight:bold;font-size:1.5em;border-bottom:1px solid #eee;color:#666; }
blockquote h3                { margin:1.0em 0 1em;padding:0;font-weight:bold;font-size:1.4em;color:#666; }
blockquote h4                { margin:1.0em 0 1em;padding:0;font-weight:bold;font-size:1.3em;color:#666; }
blockquote h5                { margin:1.0em 0 1em;padding:0;font-weight:bold;font-size:1.2em;color:#666; }
blockquote h6                { margin:1.0em 0 1em;padding:0;font-weight:bold;font-size:1.1em;color:#888; }
blockquote pre > code        { background-color:#f8f8f8;border-radius:3px;border:1px solid #ccc;display:block;font-family:Consolas,Inconsolata,Courier,monospace;font-size:0.9em;margin:0 0.15em;overflow:auto;padding:0.5em 0.7em;white-space:pre;color:#777; }
blockquote table             { margin:1.2em 0;padding:0;border-collapse:collapse;border-spacing:0;font:inherit;border:0 none;color:#666; }
blockquote tbody             { margin:0;padding:0;border:0 none;color:#666; }
blockquote td                { text-align:left;font-size:1em;border:1px solid #ddd;margin:0;padding:0.5em 1em;color:#666; }
blockquote th                { text-align:left;font-size:1em;border:1px solid #ddd;margin:0;padding:0.5em 1em;font-weight:bold;background-color:#eee;color:#666; }
blockquote tr                { color:#666; }
blockquote tr.even           { border-right:0 none;border-width:1px 0 0;border-style:solid none none;border-color:#ccc;margin:0;padding:0;background-color:#f8f8f8;color:#666; }
blockquote tr.odd            { border-right:0 none;border-width:1px 0 0;border-style:solid none none;border-color:#ccc;background-color:white;margin:0;padding:0;color:#666; }
code                         { background-color:#ffe8f8;border-radius:2px;padding:1px 2px 0 2px;border:1px solid #eec5e1;font-family:Consolas,Inconsolata,Courier,monospace;font-size:0.9em;color:#b00042; }
h1                           { margin:1.3em 0 1em;padding:0;font-weight:bold;font-size:1.6em;border-bottom:1pt solid #ddd; }
h2                           { margin:1.3em 0 1em;padding:0;font-weight:bold;font-size:1.5em;border-bottom:1px solid #eee; }
h3                           { margin:1.0em 0 1em;padding:0;font-weight:bold;font-size:1.4em; }
h4                           { margin:1.0em 0 1em;padding:0;font-weight:bold;font-size:1.3em; }
h5                           { margin:1.0em 0 1em;padding:0;font-weight:bold;font-size:1.2em; }
h6                           { margin:1.0em 0 1em;padding:0;font-weight:bold;font-size:1.1em;color:#666; }
li                           {  }
li.loose                     { margin:1em 0 1em 0; }
li.loose p.first             { margin:0; }
ol                           { margin-left:0.5em;padding-left:0.5em;text-indent:0; }
ol ol                        { list-style-type:lower-roman;margin-left:0.7em;padding-left:0.5em;text-indent:0; }
ol ol ol                     { list-style-type:lower-alpha;margin-left:0.7em;padding-left:0.5em;text-indent:0; }
ol ol ul                     { list-style-type:square;margin-left:0.7em;padding-left:0.5em;text-indent:0; }
ol ul                        { list-style-type:circle;margin-left:0.7em;padding-left:0.5em;text-indent:0; }
ol ul ol                     { list-style-type:lower-alpha;margin-left:0.7em;padding-left:0.5em;text-indent:0; }
ol ul ul                     { list-style-type:square;margin-left:0.7em;padding-left:0.5em;text-indent:0; }
p                            { margin:0 0 1.2em; }
pre                          { font-family:Consolas,Inconsolata,Courier,monospace;font-size:1em;line-height:1.3em;margin:1.2em 0; }
pre > code                   { background-color:#f8f8f8;border-radius:3px;border:1px solid #ccc;display:block;font-family:Consolas,Inconsolata,Courier,monospace;font-size:0.9em;margin:0 0.15em;overflow:auto;padding:0.5em 0.7em;white-space:pre;color:#444; }
table                        { margin:1.2em 0;padding:0;border-collapse:collapse;border-spacing:0;font:inherit;border:0 none; }
tbody                        { margin:0;padding:0;border:0 none; }
td                           { text-align:left;font-size:1em;border:1px solid #ddd;margin:0;padding:0.5em 1em; }
th                           { text-align:left;font-size:1em;border:1px solid #ddd;margin:0;padding:0.5em 1em;font-weight:bold;background-color:#eee; }
tr.even                      { border-right:0 none;border-width:1px 0 0;border-style:solid none none;border-color:#ccc;margin:0;padding:0;background-color:#f8f8f8; }
tr.odd                       { border-right:0 none;border-width:1px 0 0;border-style:solid none none;border-color:#ccc;background-color:white;margin:0;padding:0; }
ul                           { list-style-type:disc;margin-left:0.5em;padding-left:0.5em;text-indent:0; }
ul ol                        { list-style-type:lower-roman;margin-left:0.7em;padding-left:0.5em;text-indent:0; }
ul ol ol                     { list-style-type:lower-alpha;margin-left:0.7em;padding-left:0.5em;text-indent:0; }
ul ol ul                     { list-style-type:square;margin-left:0.7em;padding-left:0.5em;text-indent:0; }
ul ul                        { list-style-type:circle;margin-left:0.7em;padding-left:0.5em;text-indent:0; }
ul ul ol                     { list-style-type:lower-alpha;margin-left:0.7em;padding-left:0.5em;text-indent:0; }
ul ul ul                     { list-style-type:square;margin-left:0.7em;padding-left:0.5em;text-indent:0; }
dl                           { margin:1.5em 0;padding:0; }
dl dt                        { font-size:1em;font-style:italic;font-weight:bold;margin-top:0.75em;padding:0; }
dl dd                        { margin:0.3em 0 0 0;padding:0 1.5em; }
dd > p                       { margin:1em 0 1.2em; }
