/*
-- Tags Regognized by the java HTMLEditorKit
-- cause break and display block
      blockquote body dd dir div dl dt h1 h2 h3 h4 h5 h6 head li menu
      noframes ol p pre td th title ul

-- cause break
      form hr html isindex

-- display block
      br center table tr

-- cause no break and display inline
      a address applet area b base basefont big caption cite code dfn em
      font frame frameset i img input kbd link map meta nobr object option
      param samp script select small span strike s strong style sub sup
      textarea tt u var

*/

#multimarkdown-preview strike {
    text-decoration: line-through;
}

#multimarkdown-preview span.del {
    text-decoration: line-through;
}

#multimarkdown-preview s {
    text-decoration: line-through;
}

#multimarkdown-preview cite {
    font-style: italic;
}

#multimarkdown-preview sub {
    font-size: 0.9em;
}

#multimarkdown-preview sup {
    font-size: 0.9em;
}

#multimarkdown-preview em {
    font-style: italic;
}

#multimarkdown-preview strong {
    font-weight: bold;
}

#multimarkdown-preview b {
    font-weight: bold;
}

#multimarkdown-preview u {
    text-decoration: underline;
}

#multimarkdown-preview address {
    color: blue;
    font-style: italic;
}

#multimarkdown-preview i {
    font-style: italic;
}

#multimarkdown-preview var {
    font-weight: bold;
    font-style: italic;
}

#multimarkdown-preview dfn {
    font-style: italic;
}

#multimarkdown-preview dt {
    margin-top: 0;
    margin-bottom: 0;
}

#multimarkdown-preview dl {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#multimarkdown-preview code,
#multimarkdown-preview tt {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, Monospaced, monospace;
    font-size: 11px;
    line-height: 1.6;
}

#multimarkdown-preview samp,
#multimarkdown-preview kbd {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, Monospaced, monospace;
    font-size: 12px;
}

#multimarkdown-preview {
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 30px;
    line-height: 1.4;
    color: black;
}

#multimarkdown-preview a {
    color: #4183C4;
}

#multimarkdown-preview a.absent {
    color: #cc0000;
}

#multimarkdown-preview a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

#multimarkdown-preview h1,
#multimarkdown-preview h2,
#multimarkdown-preview h3,
#multimarkdown-preview h4,
#multimarkdown-preview h5,
#multimarkdown-preview h6 {
    padding: 0;
    cursor: text;
    position: relative;
}

#multimarkdown-preview h2,
#multimarkdown-preview h2 a {
    /*color: #325d72;*/
    color: black;
}

#multimarkdown-preview h1,
#multimarkdown-preview h3,
#multimarkdown-preview h4,
#multimarkdown-preview h5,
#multimarkdown-preview h1 a,
#multimarkdown-preview h3 a,
#multimarkdown-preview h4 a,
#multimarkdown-preview h5 a {
    color: black;
}

#multimarkdown-preview h6,
#multimarkdown-preview h6 a {
    color: #777777;
}

#multimarkdown-preview h1 tt,
#multimarkdown-preview h1 code {
    font-size: inherit;
}

#multimarkdown-preview h2 tt,
#multimarkdown-preview h2 code {
    font-size: inherit;
}

#multimarkdown-preview h3 tt,
#multimarkdown-preview h3 code {
    font-size: inherit;
}

#multimarkdown-preview h4 tt,
#multimarkdown-preview h4 code {
    font-size: inherit;
}

#multimarkdown-preview h5 tt,
#multimarkdown-preview h5 code {
    font-size: inherit;
}

#multimarkdown-preview h6 tt,
#multimarkdown-preview h6 code {
    font-size: inherit;
}

#multimarkdown-preview h1 {
    font-weight: bold ;
    border-bottom: 1px solid #cccccc;
    font-size: 24px;
    margin: 20px 0 10px;
}

#multimarkdown-preview h2 {
    font-size: 20px;
    border-bottom: 1px solid #cccccc;
    font-weight: bold;
    margin: 20px 0 10px;
}

#multimarkdown-preview h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 7px;
}

#multimarkdown-preview h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 7px;
}

#multimarkdown-preview h5 {
    font-size: 14px;
    font-weight: bold;
    margin: 7px 0 7px;
}

#multimarkdown-preview h6 {
    font-size: 14px;
    font-weight: bold;
    margin: 7px 0 7px;
}

#multimarkdown-preview blockquote,
#multimarkdown-preview ul,
#multimarkdown-preview ol,
#multimarkdown-preview dl,
#multimarkdown-preview pre {
    margin: 5px 0;
}

#multimarkdown-preview p {
    margin: 5px 0;
}

#multimarkdown-preview h1 p,
#multimarkdown-preview h2 p,
#multimarkdown-preview h3 p,
#multimarkdown-preview h4 p,
#multimarkdown-preview h5 p,
#multimarkdown-preview h6 p {
    margin-top: 0;
}

#multimarkdown-preview li p {
    margin: 0 0 10px 0;
}

#multimarkdown-preview ul li {
    margin: 0;
    list-style-type: disc;
}

#multimarkdown-preview ul li li {
    list-style-type: circle;
}

#multimarkdown-preview ul li.task {
    list-style-type: none;
    text-indent: -20px;
    padding-left: 20px;
}

#multimarkdown-preview ul,
#multimarkdown-preview ol {
    padding-left: 30px;
}

#multimarkdown-preview dl {
    padding: 0;
}

#multimarkdown-preview dl dt {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}

#multimarkdown-preview dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

#multimarkdown-preview blockquote {
    border-left: 4px solid #cccccc;
    padding: 0 15px;
    font-size: 12px;
    color: #666666;
}

#multimarkdown-preview blockquote h1,
#multimarkdown-preview blockquote h2,
#multimarkdown-preview blockquote h3,
#multimarkdown-preview blockquote h4,
#multimarkdown-preview blockquote h5,
#multimarkdown-preview blockquote h6,
#multimarkdown-preview blockquote h1 a,
#multimarkdown-preview blockquote h2 a,
#multimarkdown-preview blockquote h3 a,
#multimarkdown-preview blockquote h4 a,
#multimarkdown-preview blockquote h5 a,
#multimarkdown-preview blockquote h6 a {
    color: #666666;
}

#multimarkdown-preview tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
    color: black;
}

#multimarkdown-preview pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
    color: black;
}

#multimarkdown-preview pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    white-space: pre;
}

#multimarkdown-preview code {
    color: #B00020;
    background-color: #f8f8f8;
    padding: 3px;
    border-raduis: 2px;
}

#multimarkdown-preview table {
    background-color: transparent;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
}

#multimarkdown-preview table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 13px;
}

#multimarkdown-preview table tr td {
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 13px;
}

#multimarkdown-preview table tr.odd-child {
    background-color: #fafafa;
}

#multimarkdown-preview table tr.first-child {
    background-color: #e0e8f0;
}

#multimarkdown-preview th {
    text-align: left;
}

#multimarkdown-preview thead {
    display: table-header-group;
}

#multimarkdown-preview table > thead > tr > th,
#multimarkdown-preview table > tbody > tr > th,
#multimarkdown-preview table > tfoot > tr > th,
#multimarkdown-preview table > thead > tr > td,
#multimarkdown-preview table > tbody > tr > td,
#multimarkdown-preview table > tfoot > tr > td {
    line-height: 1.4;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

#multimarkdown-preview table > thead > tr > th {
    vertical-align: bottom;
}

#multimarkdown-preview table tr.first-child > th,
#multimarkdown-preview table tr.first-child > th,
#multimarkdown-preview table tr.first-child > th,
#multimarkdown-preview table tr.first-child > td,
#multimarkdown-preview table tr.first-child > td,
#multimarkdown-preview table tr.first-child > td {
    border-top: 0;
}

#multimarkdown-preview table table {
    background-color: #fff;
}

#multimarkdown-preview hr {
    /*
    nothing is used in the CSS by the HTMLEditorKit hr element except alignment, margin, width.
    size and noshade attributes are only setable in the element and size is 2px minimum, of any
    color you want just as long as its black, hardcoded in the library.

    ie. nothing useful that we can use to change the look so hr is simulated with a
    <div class="hr">&nbsp;</div> instead.
 */
}

#multimarkdown-preview div.hr {
    height: 1px;
    border-top: 1px solid #cccccc;
    margin: 10px 0 0 0;
}
