---

...

```````````````````````````````` example <spot>options(IGNORE)</spot>
.
.
````````````````````````````````

```````````````````````````````` example <spot> </spot> 
.
.
````````````````````````````````

```````````````````````````````` example options(parser-option<spot>, IGNORE</spot>) 
.
.
````````````````````````````````
