---

...

```````````````````````````````` example  <spot> </spot>
.
.
````````````````````````````````

```````````````````````````````` example <spot>options(IGNORE)</spot>
.
.
````````````````````````````````

```````````````````````````````` example options(parser-option<spot> </spot>) 
.
.
````````````````````````````````
